@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/montserrat-light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/montserrat-bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/raleway-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  width: 1920px;
  margin: 0 auto;
}

.header {
  width: 1920px;
  height: 1024px;
  background-image: url(../img/photo.jpg);
  background-repeat: no-repeat;
}

.header-top-page {
  padding: 40px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-logo-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 181px;
  color: #ffffff;
  -webkit-transition: color 700ms ease-out;
  transition: color 700ms ease-out;
}

.header-wax-logo-page {
  fill: currentColor;
}

.header-logo-txt-page {
  font-family: raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  text-align: right;
}

.header-logo-page:hover {
  color: #c7b299;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
}

.header-nav-link {
  color: #ffffff;
  font-family: montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color 700ms ease-out;
  transition: color 700ms ease-out;
}

.header-nav-link:hover {
  color: #c7b299;
}

.header-nav-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-nav-logo-basket {
  fill: #fff;
  -webkit-transition: fill 700ms ease-out;
  transition: fill 700ms ease-out;
}

.header-nav-logo-basket:hover {
  fill: #c7b299;
}

.header-nav-search-icon-form {
  width: 24px;
  height: 24px;
  position: relative;
}

.header-nav-search-icon-form-input {
  width: 0;
  min-height: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -2px;
  left: 33px;
  color: #ffffff;
  border-radius: 5px;
  font-family: montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.header-nav-search-icon-form-input:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 1px solid #c7b299;
}

.header-nav-search-icon-form-svg {
  fill: #ffffff;
  -webkit-transition: fill 700ms ease-out;
  transition: fill 700ms ease-out;
}

.header-nav-search-icon-form-svg:hover {
  fill: #c7b299;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 259px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-bottom-pointer-left {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 55px;
  height: 55px;
  margin-top: 105px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transition: border-left 600ms ease-out, border-top 600ms ease-out;
  transition: border-left 600ms ease-out, border-top 600ms ease-out;
}

.header-bottom-pointer-left:hover {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 55px;
  height: 55px;
  border-left: 1px solid #736357;
  border-top: 1px solid #736357;
}

.header-bottom-center {
  color: #ffffff;
  width: 600px;
  text-align: center;
}

.header-bottom-title {
  font-family: raleway;
  font-size: 36px;
  font-weight: 500;
  display: block;
  margin: 0 0 14px 0;
}

.header-bottom-title1 {
  font-family: raleway;
  font-size: 52px;
  font-weight: 800;
  display: block;
  margin: 0 0 19px 0;
}

.header-bottom-text {
  width: 562px;
  margin: 0 auto 52px auto;
  font-family: montserrat;
  font-size: 16px;
  font-weight: 300;
}

.header-bottom-submit {
  font-family: raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  padding: 15px 39px 15px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
}

.header-bottom-pointer-right {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 55px;
  height: 55px;
  margin-top: 105px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transition: border-left 600ms ease-out, border-top 600ms ease-out;
  transition: border-left 600ms ease-out, border-top 600ms ease-out;
}

.header-bottom-pointer-right:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 55px;
  height: 55px;
  border-left: 1px solid #736357;
  border-top: 1px solid #736357;
}

.header-bottom-pagination-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 280px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom-pagination-link {
  width: 11px;
  height: 11px;
  display: block;
  margin-left: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: border 600ms ease-out, background-color 600ms ease-out, -webkit-transform 600ms ease-out;
  transition: border 600ms ease-out, background-color 600ms ease-out, -webkit-transform 600ms ease-out;
  transition: border 600ms ease-out, background-color 600ms ease-out, transform 600ms ease-out;
  transition: border 600ms ease-out, background-color 600ms ease-out, transform 600ms ease-out, -webkit-transform 600ms ease-out;
}

.header-bottom-pagination-link:hover {
  background-color: transparent;
  border: 2px solid #736357;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.custom {
  padding: 52px 0 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-card {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.custom-card::after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.custom-card:hover .custom-card-svg {
  fill: #c7b299;
}

.custom-card:hover .custom-card-title {
  color: #c7b299;
}

.custom-card:hover::after {
  background-color: #c7b299;
}

.custom-card-svg {
  display: block;
  -webkit-transition: fill 600ms ease-out;
  transition: fill 600ms ease-out;
}

.custom-card-title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 600;
  color: #555555;
  -webkit-transition: color 600ms ease-out;
  transition: color 600ms ease-out;
}

.custom-card-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #8c8c8c;
}

.ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fbfaf8;
  padding: 83px 344px 83px 346px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ideas-top {
  width: 760px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ideas-title {
  display: block;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}

.ideas-text {
  display: block;
  width: 757px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #8c8c8c;
}

.ideas-bottom {
  width: 1230px;
  height: 482px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbfaf8;
}

.ideas-bottom-img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 238px;
  z-index: 1;
}

.ideas-bottom-img1 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 82px;
  left: 459px;
  z-index: 0;
}

.ideas-bottom-img2 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 82px;
  left: 0;
  z-index: 0;
}

.ideas-bottom-img1:hover {
  z-index: 2;
}

.ideas-bottom-img2:hover {
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */