$width-site: 1920px;
@font-face {
    font-family: raleway-regular;
    src: url(../fonts/raleway/raleway-regular.ttf);
}
@font-face {
    font-family: raleway-extraBold;
    src: url(../fonts/raleway/raleway-extraBold.ttf);
}
@font-face {
    font-family: raleway-medium;
    src: url(../fonts/raleway/raleway-medium.ttf);
}


body {
    margin: 0 auto;
    width: $width-site;
}

.header {
    width: $width-site;
    height: 1024px;
    flex-wrap: wrap;
    background-image: url(../img/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    &-wrp {
        width: $width-site;
        display: flex;
        justify-content: center;
        height: 450px;
    }
    &-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
        width: 181px;
        height: 100px;
        color: #fff;
        margin: 18px 170px 0 0;
    }
    &-logo:hover {
        color: #998675;
    }
    &-wax {
        fill: currentColor;
        margin: 20px 0 0 0;
    }
    &-wax-txt {
        font-family: 'raleway-regular', sans-serif;
        font-size: 34px;
        font-weight: 400;
        text-align: right;
    }
    &-nav {
        height: 50px;
        margin: 59px 21px 0 10px; 
    }
    &-link {
        color: #fff;
        font-family: 'raleway-regular', sans-serif;
        text-decoration: none;
        margin: 0 0 0 20px;
        padding: 30px 0 0 0;
    }
    &-link:hover {
        color: #8b8a88;
    }
    &-btn {
        height: 20px;
        margin: 55px 0 0 30px;
        background: none;
        border: none;
        outline: none;
    }
    &-basket {
        padding: 0;
        fill: #fff;
    }
    &-basket:hover {
        fill: #998675;
    }
    &-form {
        width: 35px;
        height: 35px;
        margin: 56px 0 0 10px;
    }
    &-search {
        width: 20px;
        height: 30px;
        outline: none;
        border: none;
        background: none;
        border-radius: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../icon/icon-search.png);
    }
    &-search:focus {
        width: 300px;
        transition: width 1s ease-out;
        background-position: right;
        background-color: #fff;
    }
    &-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: $width-site;
        height: 574px;
    }
    &-crs-left {
        display: block;
        width: 60px;
        height: 60px;
        margin: 60px 400px 0 0;
        border: none;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(45deg);
    }
    &-crs-left:hover {
        border-bottom: 2px solid #8b8a88;
        border-left: 2px solid #8b8a88;
    }
    &-crs-right {
        display: block;
        width: 60px;
        height: 60px;
        margin: 60px 0 0 400px;
        border: none;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
    }
    &-crs-right:hover {
        border-top: 2px solid #8b8a88;
        border-right: 2px solid #8b8a88;
    }
    &-crs-center {
        width: 650px;
        height: 520px;
    }
    &-crs-txt-design {
        font-family: 'raleway-medium', sans-serif;
        font-size: 26px;
        display: block;
        width: 440px;
        margin: 10px auto;
        text-align: center;
    }
    &-crs-txt-psd {
        margin: 5px;
        font-family: 'raleway-extraBold', sans-serif;
        font-size: 36px;
        display: block;
        width: 440px;
        margin: 10px auto;
        text-align: center;
    }
    &-crs-txt-center {
        font-family: 'raleway-regular', sans-serif;
        font-size: 13px;
        display: block;
        width: 440px;
        margin: 10px auto;
    }
    &-crs-btn {
        margin: 25px auto 0;
        display: flex;
        width: 120px;
        min-height: 30px;
        text-decoration: none;
        text-transform: uppercase;
        word-break: break-all;
        border-radius: 1px;
        background-color: #484642;
        color: #fff;        
    }
    &-crs-btn:hover {
        background-color: #fff;
        color: #000;
    }
    &-crs-btn:active {
        background-color: #484642;
        color: #fff;
    }
    &-crs-txt-button {
        margin: auto;
        font-family: 'raleway-regular', sans-serif;
        font-size: 13px;
    }
    &-pag {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &-pag-link {
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #484642;
        border-radius: 50%;
        margin: 0 5px 0 0;
    }
    &-pag-link:hover {
        border: 2px solid #fff;
        transform: scale(1.2);
    }
    &-pag-link-1 {
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #484642;
        border-radius: 50%;
        margin: 0 5px 0 0;
    }
    &-pag-link-1:hover {
        border: 2px solid #fff;
        transform: scale(1.2);
    }
    &-pag-link-2 {
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #484642;
        border-radius: 50%;
        margin: 0 5px 0 0;
    }
    &-pag-link-2:hover {
        border: 2px solid #fff;
        transform: scale(1.2);
    }
    &-pag-link-3 {
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #484642;
        border-radius: 50%;
        margin: 0 5px 0 0;
    }
    &-pag-link-3:hover {
        border: 2px solid #fff;
        transform: scale(1.2);
    }
    &-pag-link-4 {
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #484642;
        border-radius: 50%;
    }
    &-pag-link-4:hover {
        border: 2px solid #fff;
        transform: scale(1.2);
    }
}