body {
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rose {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 18px;
  background-image: url(img/Beautiful_Red_Rose_PNG_Clipart-162.png);
  -webkit-background-size: cover;
  background-size: cover;
  transition: transform 700ms ease-out,
              border-radius 700ms ease-out,
              width 700ms ease-out,
              height 700ms ease-out,
              padding 700ms ease-out;
}
.rose-text {
  display: block;
  padding: 25px;
  color: #fff;
}
.rose:hover {
  transform: rotate(360deg);
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.rose:hover .rose-text {
  color: aqua;
  padding: 95px;
}